
<form action="/create" method="POST">
    <h2>Create new Todo</h2>

    <div class="input-field">
        <input type="text" name="title" placeholder="Todo title">
        <label></label>
    </div>

    <button type="submit" class="btn">Create</button>
</form>

